* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #242424;
}

.container {
    width: 100%;
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}
